<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD0wSYFmyl8kVRbk5Q8CIz8vE3zWRF89Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>37493764360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.truvaldental.app</string>
	<key>PROJECT_ID</key>
	<string>truval-dental</string>
	<key>STORAGE_BUCKET</key>
	<string>truval-dental.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37493764360:ios:151f8e6ea75624656a7cbd</string>
</dict>
</plist>